
.restaurant-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.restaurant-card {
  cursor: pointer;
  position: relative;
  border: 1px solid #e6e6e6;
  background-color: rgb(255, 255, 255);
  width: 400px;
  margin: 2%;
  border-radius: 0 0 10px 10px;
}

.restaurant-card-wallpaper {
    width: 400px;
    border-radius: 10px 10px 0 0;

}

.restaurant-card-perfil {
  width: 80px; 
  position: absolute;
  top: 95px;
  left: 10px; 
}

.restaurant-card-name {
  font-size: 1.2rem;
  font-weight: 500;
}

.restaurant-card-resume {
  font-size: 1rem;
  font-weight: 400;;
}

.restaurant-card-title {
  display: flex;;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  transform: translateX(20%);
}

@media screen and (max-width: 1200px) {
  .restaurant-card-container {
    width: 100%;
  }

  .restaurant-card {
    width: 90%;
  }

  .restaurant-card-wallpaper {
    width: 100%;
  }

  .restaurant-card-perfil {
    width: 60px;
    top: 80px;
    left: 10px;
  }

  .restaurant-card-resume {
    font-size: 0.9rem;
  }
  
}