
.login-container {
  background-image: url(../../images//wallpapers//wallpaper-login-desktop.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-back-color {
  background-color: rgba(255, 255, 255, 0.685);
  padding: 2.5%;
  margin: 80px;
  border-radius: 25px;
  width: 500px;
  height: 600px;
}

.login-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-back-page {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.login-link{
  text-decoration: none;
  color: rgba(250, 0, 0, 0.89);
}

.login-title {
  font-size: 3rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.795);
  margin-top: 5%;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25%;
}

.login-input-email,
.login-input-password {
  width: 80%;
  height: 45px;
  border-radius: 10px;
  margin-top: 5%;
  border: 1px solid rgba(0, 0, 0, 0.233);
  padding: 0 15px;
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.7);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.login-button-submit {
  display: block;
  width: 85%;
  border-radius: 10px;
  padding: 15px;
  margin-top: 3%;
  margin-bottom: 1.5%;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;;
  background-color: #ff01018c;

}

.login-button-submit:hover {
  background-color: #ff0101b9;
  color: white;
}

.login-error-message {
    margin-top: 5px;
}


@media (max-width: 1500px) {
  .login-container {
    height: auto;
  }
}

@media (max-width: 740px) {
  
  .login-back-color {
    background-color: transparent;
    height: auto;
    padding: 0;
    margin: 60px;
    text-align: start;
    width: 100%;
  }

  .login-header {
    margin: 0 20px 50px 10px;
  }

  .login-title {
    color: rgba(250, 250, 250, 0.829);
    font-size: 2em;
    margin: 10px 10px 125px 10px;
    max-width: 180px;
    white-space: wrap;


  }
  .landing-page-button-create-account {
    margin-top: 200px;
  }

  .login-forgot-password {
    color: rgba(255, 255, 255, 0.822);
  }
  .login-error-message {
    color: rgba(255, 255, 255, 0.753);
  }
  
  }
