.restarant-details-container {
  display: flex;
  align-items: center;
  /* text-align: start; */
  flex-direction: column;
  width: 100%;
}

.restarant-details-type {
  margin: 10px 1100px 10px 0px;
  font-weight: 400;
  color : rgba(0, 0, 0, 0.651);
}

@media (max-width: 1200px) {
  .restarant-details-type {
    margin: 10px 280px 10px 0px;
  }
}
